<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" id="panel-title"><%= comment.title %>
         <% if comment.created_at == comment.updated_at %>
            <p class="text-muted">Added by <strong><%= link_to User.find_by(id: comment.user_id).username, user_path(comment.user_id)%>.</strong> on
              <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
            <% else %>
              <p class="text-muted">Edited by <strong><%= link_to User.find_by(id: comment.user_id).username, user_path(comment.user_id)%>.</strong> on
                <%= l(comment.updated_at, format: '%B, %d %Y %H:%M:%S') %></p>
            <% end %>
      </div>
      <div class="panel-body">
        <p><%= comment.body %></p>
      </div>
    </div>




  <%= pluralize(comment.votes.count, "vote") %>

	<%= button_to '+1', article_comment_upvote_path(comment.article_id, comment.id), method: :post %>


  <% if current_user && current_user.admin %>
    <% if comment.flagged %>
        <%= form_for([@article, comment]) do |f| %>
        <%= f.hidden_field :flagged, value: false %>
        <%= f.submit 'Flag comment' %>
        <% end %>
    <% else %>
      <%= form_for([@article, comment]) do |f| %>
      <%= f.hidden_field :flagged, value: true %>
      <%= f.submit 'Flagged' %>
      <% end %>
    <% end %>
  <% end %>

	<% from_reply_form ||= nil %>
	<% unless from_reply_form %>
	    <% if current_user && comment.user_id == current_user.id %>
	 			 <p><%= link_to 'edit', edit_article_comment_path(@article, comment.id) %></p>
	  	<% end %>
	  <% end %>
	  <p><%= link_to 'reply', article_new_comment_path(@article, comment.id) %></p>





