<h1>Articles#index</h1>

<%= form_tag "/articles?search", :method => 'get'  do  %>
    <p>
        <%= text_field_tag :search, params[:search]  %>
        <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<% @hits.each do |h| %>
  <div>
    <h3><%= raw(h.title) %></h3>
    <p><%= h.id %>    </p>
    <%= link_to "Article", controller: "articles", action: "show", id: h.id %>
  </div>
<% end %>
