<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="search-bar">
	<div class="box">
	  <div class="container-1">
		<span class="icon"><i class="fa fa-search"></i></span>
		<%= form_tag "/articles?search", :method => 'get'  do  %>
		        <%= text_field_tag :search, params[:search], placeholder: "" %>
		<% end %>
	  </div>
	</div>
</div>

<!-- temp link for testing the user feed view -->
<h4><%=link_to "My Feed (temp)",user_feed_path(current_user.id)%></h4>

<div class="results-count">

	<% if @articles %>
	<p><%= @articles.count %> results</p>
</div>
		<% @articles.each do |article| %>
		   	<div class="results-container">
					<%= link_to "/articles/#{article.id}" do %>
					<!-- <div class="results-odd"> -->
					<p class="results-text"><%= raw(article.title) %></p>
					<% end %>
				</div>
		<% end %>
	<% end %>


