
<div class="title-container">
  <h1><%= raw(@article.title) %></h1>
</div>

<div class="abstract-and-details">

  <% if @article.abstract %>
    <h4 class="article-heading" id="abstract-title">Abstract</h3>
    <p class="abstract-content"><%= @article.abstract %></p>
  <% end %>

  <div>
      <%= link_to "Full Text", "http://journals.plos.org/plosone/article?id=#{@article.plos_id}", target: "_blank", class: "full-text-button"%>
  </div>

  <% if current_user %>
    <%= form_for([@article, @favorite]) do |f| %>
      <% if current_user.favorites.find_by(article: @article) %>
        <%= f.submit 'Unfavorite', class: 'btn btn-warning' %>
      <% else %>
        <%= f.submit 'Favorite', class: 'btn btn-success' %>
      <% end %>
    <% end %>
  <% end %>

  <hr/>

  <% if @article.authors %>
    <h4 class="article-heading">Authors</h4>
    <p><%= @article.authors %></p>
  <% end %>

  <% if @article.publication_date %>
    <h4 class="article-heading">Publication Date</h4>
    <p><%= @article.publication_date.strftime("%B %d, %Y") %></p>
  <% end %>
  </div>
</div>

<div class="comments-container">
      <h1 class="header"><%= @comments.count %> Comments</h1>
      <%= comments_tree_for @comments %>

  </div>
  <div class="comment-form">


      <p>Click the button below to start a new thread:</p>
      <p>
        <%= link_to 'Add new topic', article_new_comment_path(@article), id: "new_comment", class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
</div>
