<h1><%= raw(@article.title) %></h1>

<%= form_for([@article, @favorite]) do |f| %>
  <%= f.submit 'Favorite' %>
<% end %>

<p><%= @article.abstract %></p>

 <div class="container">
    <h1>Join the discussion</h1>
    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', article_new_comment_path(@article), class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<%= comments_tree_for @comments %>
