
<div class="search-bar">
  <h1><%= raw(@article.title) %></h1>
</div>

<div class="abstract-and-details">

  <div class="fav">
  <% if current_user %>
    <%= form_for([@article, @favorite]) do |f| %>
      <% if current_user.favorites.find_by(article: @article) %>
        <%= f.submit 'Unfavorite'%>
      <% else %>
        <%= f.submit 'Favorite' %>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <% if @article.abstract %>
    <h3 id="abstract-title">Abstract</h3>
    <p class="abstract"><%= @article.abstract %></p>
  <% end %>

  <h3 id="full-text"><%= link_to "Full Text",  "http://journals.plos.org/plosone/article?id=#{@article.plos_id}", target: "_blank"%></h3>

  <% if @article.authors %>
    <p class="article-details"><b>Authors:</b> <%= @article.authors %></p>
  <% end %>

  <% if @article.publication_date %>
    <p class="article-details"><b>Publication Date:</b> <%= @article.publication_date.to_formatted_s(:long_ordinal) %></p>
  <% end %>
</div>

    <!-- <p><%#= link_to "Back to all articles", articles_path %></p> -->

<div class="discussion-header">
  <h1>Join the discussion</h1>
  <p>
    <%= link_to 'Add new topic', article_new_comment_path(@article), class: 'btn btn-primary btn-lg' %>
  </p>
</div>

</div>

<%= comments_tree_for @comments %>
