<h1>My Feed</h1>

<h4>Add new keyword</h4>

<%= form_tag user_path(current_user.id), :method => :patch do |f| %>
	<%= text_field_tag :keyword %>
  <%= submit_tag "submit"%>
<% end %>

<% @user.keywords.each do |keyword| %>
	<% @keyword_index = @user.keywords.index(keyword) %>
	<h3><%= keyword %></h3>
	<%= link_to "delete", user_path(index: @keyword_index, id: current_user.id), :method => :delete %>
<% end %>

<hr/>

<div id="article">
  <%= render @articles %>
</div>

