<h1>My Feed</h1>

<h4>Add new keyword</h4>

<%= form_tag user_path(current_user.id), :method => :patch, id: 'search-form' do |f| %>
	<%= text_field_tag :keyword %>
  <%= submit_tag "submit"%>
<% end %>

<div id="keywords">
	<%= render partial: "keyword" %>
</div>

<div id="articles">
  <%= render @articles %>
</div>


