<h1 class= "align" style="text-decoration:underline">User Profile</h1>
  <div class="container">
    <div class="row">
  	<%= image_tag @user.avatar.url(:medium),:class => 'avatar col-md-4' %>
      <div class="userinfo col-md-8">
      <p>Username:<%= @user.username %></p>
      <p>Email:<%= @user.email %></p>
      </div>
    </div>
  </div>
<% if current_user.id == @user.id %>
  <h3>Favorite Articles</h3>
  <div >
    <% @user.favorites.each do |favorite| %>
    <p><%= link_to raw(favorite.article.title), article_path(favorite.article)%>
    <%= link_to "Delete", user_favorite_path(@user, favorite),method: :delete%></p>
    <% end %>
  </div>
<% end %>

	<h3>Your comments</h3>
	<p>Total: <%= @total %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<h4><%= link_to raw(Article.find(comment.article_id).title), article_path(comment.article_id) %></h4>
			<p><em><%= comment.body %></em></p>
		<% end %>
	<% else %>
		<p>No comments have been made yet</p>
	<% end %>

  <% if current_user.admin? %>
  <%= link_to "See all users", users_path %>
  <% end %>

  <p><%= link_to "Back to all articles", articles_path %></p>



