<h1>User Profile</h1>

	<div><%= image_tag @user.avatar.url(:medium) %></div>
  <p>User ID:<%= @user.id %></p>
  <p>Username:<%= @user.username %></p>
  <p>Email:<%= @user.email %></p>

  <h3>Favorite Articles</h3>
  <% @user.favorite_articles.each do |article| %>
  <p><%= link_to raw(article.title), article_path(article) %>
  <%#= link_to "Delete", user_favorite_path%></p>

  <%#= form_for([@user, @favorite]), method: :delete, do |f| %>
  <%#= f.submit 'Favorite' %>
  <%# end %>

      <%#= button_to 'Delete Favorite',
           article_favorite_path(@user, :article_id => article.id),
          :method => 'delete' %>
  <%#= button_to "Delete Favorite", { action: "delete", id: article.id } %>
  <% end %>

	<h3>Your comments</h3>
	<p>Total: <%= @total %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<h4><%= link_to Article.find(comment.article_id).title, article_path(comment.article_id) %></h4>
			<p><em><%= comment.body %></em></p>
		<% end %>
	<% else %>
		<p>No comments have been made yet</p>
	<% end %>

  <% if current_user.admin? %>
  <%= link_to "See all users", users_path %>
  <% end %>

