<h1>User Profile</h1>

	<div><%= image_tag @user.avatar.url(:medium) %></div>
  <p>User ID:<%= @user.id %></p>
  <p>Username:<%= @user.username %></p>
  <p>Email:<%= @user.email %></p>


	<h3>Your comments</h3>
	<p>Total:<%= @total %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<p><%= link_to comment.body, article_path(comment.article_id) %></p>
		<% end %>
	<% else %>
		<p>No comments have been made yet</p>
	<% end %>

  <% if current_user.admin? %>
  <%= link_to "See all users", users_path %>
  <% end %>

